.wd-kanbas-navigation {
  background: black;
  list-style: none;
  padding: 0px;
  margin: 0px;
  width: 85px;
  height: 100%;
}
.wd-kanbas-navigation li {
  /* padding: 10px; */
  margin-bottom: 10px;
  font-size: 0.8em;
  text-align: center;
  padding-top: 5px;
  padding-bottom: 5px;
}
.wd-kanbas-navigation {
    padding-top: 10px;
}
.wd-kanbas-navigation li.wd-active {
  background-color: white;
}
.wd-kanbas-navigation li.wd-active a {
  color: red !important;
}
.wd-kanbas-navigation a {
  color: white;
  text-decoration: none;
}
.wd-kanbas-navigation a i {
  color: red;
  font-size: 2em;
  margin-bottom: 5px;
  padding-bottom: 5px;
}
.wd-neu-img{
    width: 80px;
    
}
.wd-account{
    color: white !important;

}
